* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block__wrapper {
   height: 70vh;
   width: 70vw;
   background-color: cadetblue;
   border-radius: 20px; 
}

.generator__btn {
    display: block;
    width: 130px;
    margin: 50px auto;
}

.cards__wrapper {
    display: flex;
    justify-content: space-around;
}

.card {
    height: 200px;
    width: 200px;
    background-color: burlywood;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}