.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.card__image {
    height: 180px;
    background: #B8B8B8;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: start;
}

.card__info {
    padding: 10px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    background: var(--black);
    color: var(--white);
}

.card__tag {
    margin-bottom: 3px;
    font-size: 11px;
    font-weight: 300;
    line-height: 15px;
}

.card__name {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 600;
    line-height: 110%;
}

.card__footer {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
}

.card__footer {
    margin-top: auto;
    display: flex;
}

.button__add {
    width: 36px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid var(--white);
    cursor: pointer;
}

.buttond__active {
    background: var(--white);
}